# RStudio and user files
.Rhistory
.RData
.Ruserdata
.Rproj.user
.Rprofile

# renv
renv/library/*
renv/staging/*

# Data files
data/raw/*
data/processed/*

# Reports and figures
reports/*.pdf
reports/*.html
reports/figures/*
reports/*.png

# Quarto cache
_quarto.yml
.quarto/

# Misc
.DS_Store
Thumbs.db
